@import "theme.scss";
@import "highlight.scss";
@import url("https://fonts.googleapis.com/css?family=Dosis:500&text=Vue.js");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono");
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";

.name {
  font-family: "Dosis";
}

pre {
  min-height: 1em;
}

.caps {
  text-transform: uppercase;
}

.large {
  font-size: 1.2em;
}

.tool-logo {
  height: 2em;
  width: 2em;
  position: absolute;
  left: 24%;
}

.tool-logo img {
  max-width: 2em;
  height: 2em;
}

h1.name {
  font-style: normal;
}

img.plain {
  border: 0;
  max-width: 30%;
}

.tool-logo {
  height: 2em;
  width: 2em;
  position: absolute;
  left: 22%;
}

@mixin reel($prefix, $transforms: scale(1)) {
  transition: 0.4s ease-in-out transform, 0.4s ease-in-out opacity;

  &.#{$prefix}-active {
    opacity: 1;
    transform: $transforms translate(0, 0);
  }
  &.#{$prefix}-inactive {
    opacity: 0;
  }
  &.#{$prefix}-before {
    transform: $transforms translate(0, -110%);
  }
  &.#{$prefix}-after {
    transform: $transforms translate(0, 110%);
  }
}

.bespoke-slide {
  @include reel(bespoke);
}

body.notes .bespoke-slide {
  @include reel(bespoke, scale(0.594) translate(-50%, 0));
}
