$background: #fffdfa;
$blue: #07a;
$red: #dd4a68;
$orange: #e90;
$foreground: #111;
$serif: "Cormorant Garamond", didot, times new roman, serif;
$sans-serif: "Source Sans Pro", helvetica, arial, sans-serif;
$monospace: "Roboto Mono", consolas, courier new, monospace;
$emdash: "\2014";

$vue-light-green: #4fc08d;
$vue-dark-blue: #35495e;

$flow-yellow: #e8bd36;
$flow-medium-gray: #384048;
$flow-dark-gray: #2d343a;

$typescript-orange: #ffa700;
$typescript-medium-blue: #294e80;
$typescript-dark-blue: #152740;

$hljs-comment: slategray;
$hljs-identifier: $orange;
$hljs-type: #905;
$hljs-class: $vue-dark-blue;
$hljs-literal: $vue-light-green;
$hljs-meta: #999;
$hljs-function: $red;
$hljs-keyword: $blue;
