$background: #fffdfa;
$blue: #07a;
$red: #dd4a68;
$orange: #e90;
$foreground: #111;
$serif: "Cormorant Garamond", didot, times new roman, serif;
$sans-serif: "Source Sans Pro", helvetica, arial, sans-serif;
$monospace: "Roboto Mono", consolas, courier new, monospace;
$emdash: "\2014";

$vue-light-green: #4fc08d;
$vue-dark-blue: #35495e;

$hljs-comment: slategray;
$hljs-identifier: $orange;
$hljs-type: #905;
$hljs-class: $vue-dark-blue;
$hljs-literal: $vue-light-green;
$hljs-meta: #999;
$hljs-function: $red;
$hljs-keyword: $blue;
